/*@list: red blue green orange black red;

@headings: h1 h2 h3 h4 h5 h6;


.changeColor(@count) when (@count <=7){
	@heading: extract(@headings, @count);
	@{heading}{
		color: extract(@list, @count);
	}
	.changeColor(@count + 1);
}*/


*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	min-height: 10vh;
	background: linear-gradient(60deg,#3498db,#8e44ad); 
}

.login-box{
	background: #f1f1f1;
	width: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	padding: 60px 40px; 
	border-radius: 10px;
}

.login-box h1{
	text-align: center;
	font-size: 40px;
	border-bottom: 6px solid #333;
	margin-bottom: 50px;
	padding: 13px  0;
	color: #333;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #333;
}

.textbox i{
	color: #333;
	width: 26px;
	float: left;
	text-align: center;
}
.textbox input{
	border: none;
	background: none;
	outline: none;
	color: #333;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.btn{
	width: 100%;
	background: none;
	border: none;
	color: #fff;
	padding: 5px;
	font-size: 18px;
	margin: 12px 0;
	height: 40px;
	background: linear-gradient(120deg,#3498db,#8e44ad);
	background-size: 125%;
}

.btn:hover{
	background-position: right;
}

.signup{
	margin-top:15px;
	text-align: center;
	
	color: #333;
}

#form-messages{
    background-color: rgb(255,232,232);
    border: 1px solid red;
    color: red;
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 25px;
    max-width: 250px; 
}
